body{
    margin: 0;
    height: 100vh;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.contorno{

    background-color: #65000b;
    border:  2px solid black;
    border-radius: 8px;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background;

}

h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    font-family: 'Georgia', serif;
}

p{
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5;
}